@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.titulo-dash{
    color: #fafbfc!important;
    font-weight: bold;
    font-size: 62px;
}

.titulo-principal{
    font-size: 82px!important;
    margin-bottom: 30px;
    padding-bottom: 30px;
    color: #fafbfc!important;
    font-weight: bold;
}

.centrar{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contenedor{
    text-align: center;
    background-color: #6b7280!important;
    width: 100%!important;
    height: 90vh!important;
    padding: 40px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    background-color: #666666;
    background-image: url(../../public/images/black-1072366_1920.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

